*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    text-transform: none;
}
body{
    background: url('../img/thumb-1920-893577.jpg');
    background-position: center;
    background-size: cover;
    height: 120%;
}
.color1{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(208,98,227,1) 0%, rgba(0,219,169,1) 100%);
}
.header button:hover{

    


       background-position: right center; /* change the direction of the change here */
       color: #fff;
       text-decoration: none;
     
    
}

.header button{
  background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%); 
       margin: 10px;
       padding: 13px 35px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       border-radius: 6px;
       display: block;
     
}
.header input{
height: 30px;
margin: auto;
}
.navbar{
    position: sticky;
}
.nav-link:hover{

    text-decoration: underline;
}
.header-intro{
    margin-top: 200px;
}

.header-bg-photo{
    max-width: 100% ;

}
.intro-bg{
    position: relative;
}
.intro-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(7, 15, 25, 0.75);
}
.intro-title{
    font-size: 40px;
    color: aqua ;
    text-align: center;
}
.intro-text{
    font-size: 18px;
    color: aquamarine;
    margin: 10px 30px ;
    text-align: justify;
}
.intro-text:first-of-type{
    margin: 40px 30px ;
}
.intro-link{
    color: #fff;
    font-weight: 500;
    font-size:21px;
    background: black;
    padding: 5px 7px;
    width: max-content;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
}
.intro-link:hover{
color: rgb(0, 0, 0);
background-color: aqua;
}
.section-title{
    margin:60px  40px 40px;
    text-decoration: underline;
    font-weight: 500;
    font-size: 36px;
    color:  rgba(104,183,249,1) ;
}
.anime{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.anime-cards{
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
    position: relative;
    height: 500px;
    margin-top: 40px;
    width: 30%;
    overflow: hidden;

}
.anime-photo{
    max-width: 100%;
    height: 90%;
}
.anime-title{
    color: antiquewhite;
    font-weight: 500;
    max-width: 90%;
    text-align: center  ;
    margin: 50px 20px 30px;

}
.anime-text{
    max-width: 200px;
    color: antiquewhite;
    font-weight: 400;
    height: 50px;
    margin: 30px 0;
    max-width: 90%;
    text-align: center;
    margin: 0 20px;

}
.intro-link1{
    color: #fff;
    font-weight: 500;
    font-size:21px;
    background: black;
    padding: 3px 10px;
    width: max-content;
    border-radius: 10px;
    margin-left: -45px;
    margin-top: 20px;
    position: absolute;
    left: 50% ;
    bottom: 8px;

}
.anime-content{
    position: absolute;
    background: rgba(7, 15, 25, 0.75);
    top: 500px;
    left: 0;
    color: aliceblue;
    line-height: 16px;
    height: 100%;
    transition: 1s;
    width: 100%;
    

}
.anime-cards:hover .anime-content{
top: 0;
}
.intro-link1:hover{
color: rgb(0, 0, 0);
background-color: aqua;
}

.anime-card{
    display: flex;
    flex-direction: column;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );    height: 500px;
    margin-top: 40px;
    width: 24%;
    padding: 10px 10px  60px ;
    position: relative;
    
}
.sect2-content{
    display: flex;
    justify-content: space-between;
}
.anime-photo1{
    max-width: 100%;
    max-height: 300px;
}
.anime-text1{
    max-width: 200px;
    color: antiquewhite;
    font-weight: 300;
    line-height: 15px;
    margin-top: -30px;
    margin-bottom: 20px;
}

.anime-title1{
    color: antiquewhite;
    font-weight: 400;
    max-width: 90%;
    text-align: center  ;
    margin-bottom: 40px;
    line-height: 27px;
    font-size: 20px;


}
.sect3-content{
    display: flex;justify-content: space-between;
}
.new{
    width: 32%;
    padding: 8px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
    position: relative;
}
.sect3-photo{
    width: 100%;
    height: 200px;
}
.new-link{
    position: absolute;
    bottom: 10px ;
    left: 50%;
    margin-left:-75px ;
    padding: 6px 4px;
    border-radius: 6px;
    background: black;
    color: aliceblue;
    font-weight: 500;
}
.new-link:hover{
    background-color:aquamarine;
    color: black;
}
.sect3{
    padding-bottom: 50px;
}
.footer-content{
    background-image: radial-gradient( circle 588px at 31.7% 40.2%,  rgba(225,200,239,1) 21.4%, rgba(163,225,233,1) 57.1% );
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
}
.footer{
    background-image: radial-gradient( circle 588px at 31.7% 40.2%,  rgba(225,200,239,1) 21.4%, rgba(163,225,233,1) 57.1% );
    padding: 10px 0;

}
.writer{
    font-weight: 600;
    font-size: 17px ;
}
.new-link{
    display: block;
}